@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: purple-light --default, purple-dark --prefersdark;
}

:root {
  font-family: 'Radio Canada', 'Noto Sans', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

@plugin "daisyui/theme" {
  name: "purple-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f7f4ef;
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #B99AFF;
  --color-primary-content: oklch(38% 0.189 293.745);
  --color-secondary: #b99aff;
  --color-secondary-content: oklch(38% 0.176 304.987);
  --color-accent: #7c3aed;
  --color-accent-content: oklch(98% 0.014 180.72);
  --color-neutral: #3d4451;
  --color-neutral-content: oklch(98% 0 0);
  --color-info: #2094f3;
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: #009485;
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: #ff9900;
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: #ff1a1a;
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "purple-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: #b99aff;
  --color-primary-content: #563882;
  --color-secondary: #a6adbb;
  --color-secondary-content: #101113;
  --color-accent: #93bbff;
  --color-accent-content: #101113;
  --color-neutral: #2a323c;
  --color-neutral-content: #a6adbb;
  --color-info: #93bbff;
  --color-info-content: #101113;
  --color-success: #7eeba4;
  --color-success-content: #101113;
  --color-warning: #f9e07b;
  --color-warning-content: #101113;
  --color-error: #ffaa9d;
  --color-error-content: #101113;
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

html {
  scroll-behavior: smooth;
}
